line{
    color: rgb(176, 10, 46);
    stroke-width: 5;
    transition: smooth 5s;
}
h2{
    font-family: 'Open Sans', sans-serif;
 margin: 0;
 position: absolute; /* or absolute */

  color: rgb(23, 22, 22);
  font-size: min(10vh,20vw);
  z-index: 10;
}
#lo1{
    top:50%;
    left: 50%;
    translate: -100% -150%;
}
#lo2{top:50%;
    left: 50%;
    translate: 10% -150%;
}
#lo3{
    
    left: 50%;
    top:50%;
    translate: 100% -80%;
}
#lo4{
    left: 50%;
    top:50%;
    translate: 100% -10%;
}#lo5{
    
    top:100%;
    left: 50%;
    translate: 10% -300%;
}
#lo6{top:100%;
    left: 50%;
    translate: -100% -300%;
}#lo7{
    
    left: 50%;
    top:50%;
    translate: -200% -80%;
}
#lo8{
    left: 50%;
    top:50%;
    translate: -200% -10%;
}

svg{
    position: absolute; 
    overflow: hidden;
}
body{
    transition: smooth 2s;
    margin: 0;
    background-color: rgb(23, 22, 22);
}
.lineclass{
    stroke: rgb(176, 10, 46);
    stroke-width: 1px;
}
.repeaterLine{
    z-index: -1;
    position: inherit;
    stroke-width: 1px;
}
.baseLine{
    z-index: 2;
    position: inherit;
    stroke-width: 1px;
}