line{
    color: rgb(176, 10, 46);
    stroke-width: 5;
    transition: smooth 5s;
}
h2{
    font-family: 'Open Sans', sans-serif;
 margin: 0;
 position: absolute; /* or absolute */

  color: rgb(23, 22, 22);
  font-size: min(12vh,12vw);
  z-index: 10;
}
#lo1{
    top:25%;
    left: 40%;
    translate: -50% -50%;
}
#lo2{top:25%;
    left: 60%;
    translate: -50% -50%;
}
#lo3{
    
    left: 75%;
    top:45%;
    translate: -50% -100%;
}
#lo4{
    left:75%;
    top:55%;
    translate: -50% 0%;
}#lo5{
    
    top:75%;
    left: 60%;
    translate: -50% -50%;
}
#lo6{top:75%;
    left: 40%;
    translate: -50% -50%;
}#lo7{
    
    left: 25%;
    top:45%;
    translate: -50% -100%;
}
#lo8{
    left: 25%;
    top:55%;
    translate: -50% 0%;
}

svg{
    position: absolute; 
    overflow: hidden;
}
body{
    transition: smooth 2s;
    margin: 0;
    background-color: rgb(23, 22, 22);
}
.lineclass{
    stroke: rgb(176, 10, 46);
    stroke-width: 1px;
}
.repeaterLine{
    z-index: -1;
    position: inherit;
    stroke-width: 1.5px;
}
.baseLine{
    z-index: 20;
    position: inherit;
    stroke-width: 2px;
}